.intro {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
  color: #fff;
  padding: 60px;
}

.intro-logo {
  width: 180px;
  height: auto;
  margin-bottom: 40px;
}

.intro .text-lead {
  color: #fff;
  max-width: 70%;
  margin: 0 15%;
}
